---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Partly%20cloudy%20starting%20in%20the%20afternoon.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"alEGxmahCCywE","slug":"pretty-sky-gorgeous-alEGxmahCCywE","url":"https:\/\/giphy.com\/gifs\/pretty-sky-gorgeous-alEGxmahCCywE","bitly_gif_url":"https:\/\/gph.is\/1ijeEL5","bitly_url":"https:\/\/gph.is\/1ijeEL5","embed_url":"https:\/\/giphy.com\/embed\/alEGxmahCCywE","username":"","source":"https:\/\/strawberrylicorice.tumblr.com\/post\/30159814933","rating":"g","content_url":"","source_tld":"strawberrylicorice.tumblr.com","source_post_url":"https:\/\/strawberrylicorice.tumblr.com\/post\/30159814933","is_sticker":0,"import_datetime":"2014-01-09
        04:10:32","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200_s.gif","width":"434","height":"200"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy_s.gif","width":"499","height":"230"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w.gif","width":"200","height":"92","size":"36886","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w.mp4","mp4_size":"8868","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w.webp","webp_size":"24054"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100_s.gif","width":"217","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200_d.gif","width":"434","height":"200","size":"309991","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200_d.webp","webp_size":"50738"},"preview":{"width":"498","height":"230","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.mp4","mp4_size":"38922"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100.gif","width":"217","height":"100","size":"126913","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100.mp4","mp4_size":"71970","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100.webp","webp_size":"25826"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized_s.gif","width":"499","height":"230","size":"60146"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized.gif","width":"499","height":"230","size":"392697"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100w_s.gif","width":"100","height":"46"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.webp","width":"449","height":"207","size":"49194"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w_s.gif","width":"200","height":"92"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100w.gif","width":"100","height":"46","size":"36886","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100w.mp4","mp4_size":"28331","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/100w.webp","webp_size":"8956"},"downsized_small":{"width":"498","height":"230","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized-small.mp4","mp4_size":"38922"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w_d.gif","width":"200","height":"92","size":"74867","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200w_d.webp","webp_size":"15352"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697"},"original":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697","frames":"10","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.mp4","mp4_size":"24863","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.webp","webp_size":"69674"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200.gif","width":"434","height":"200","size":"126913","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200.mp4","mp4_size":"8271","webp":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/200.webp","webp_size":"74240"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-loop.mp4","mp4_size":"3844479"},"original_mp4":{"width":"480","height":"220","mp4":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy.mp4","mp4_size":"24863"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.gif","width":"145","height":"67","size":"48043"},"480w_still":{"url":"https:\/\/media4.giphy.com\/media\/alEGxmahCCywE\/480w_s.jpg","width":"480","height":"221"}},"title":"partly
        cloudy sky GIF","_score":719.0136,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3403b14c59373277ee2a83&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3403b14c59373277ee2a83&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c3403b14c59373277ee2a83&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=SENT"}}}],"pagination":{"total_count":4287,"count":1,"offset":0},"meta":{"status":200,"msg":"OK","response_id":"5c3403b14c59373277ee2a83"}}'
  recorded_at: Tue, 08 Jan 2019 01:58:09 GMT
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Partly%20cloudy%20in%20the%20morning.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '997.16409722222'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"3oz8xsTTDHL2D8Hluw","slug":"3oz8xsTTDHL2D8Hluw","url":"https:\/\/giphy.com\/gifs\/3oz8xsTTDHL2D8Hluw","bitly_gif_url":"https:\/\/gph.is\/2gLQdNJ","bitly_url":"https:\/\/gph.is\/2gLQdNJ","embed_url":"https:\/\/giphy.com\/embed\/3oz8xsTTDHL2D8Hluw","username":"thx4bnu","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2016-12-14
        19:04:07","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media0.giphy.com\/avatars\/thx4bnu\/jFTaEa0sCvyE.gif","banner_url":"https:\/\/media0.giphy.com\/headers\/thx4bnu\/5HWgRC9A18Ox.jpeg","banner_image":"https:\/\/media0.giphy.com\/headers\/thx4bnu\/5HWgRC9A18Ox.jpeg","profile_url":"https:\/\/giphy.com\/thx4bnu\/","username":"thx4bnu","display_name":"Bryan
        Unger","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/200_s.gif","width":"356","height":"200","size":"33034"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/giphy_s.gif","width":"480","height":"270","size":"54817"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/200w.gif","width":"200","height":"112","size":"2569036","mp4":"https:\/\/media1.giphy.com\/media\/3oz8xsTTDHL2D8Hluw\/200w.mp4","[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Mostly%20cloudy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      -[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Partly%20cloudy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      -[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Light%20snow%20(%3C%201%20in.)%20in%20the%20morning.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-D[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Clear%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
   [...]
[...]
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<giphy_key>&limit=1&q=Mostly%20cloudy%20starting%20in%20the%20afternoon.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day[...]
[...]
